VITE_SUPABASE_URL=https://zhhkychdceqwsfuthpsr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpoaGt5Y2hkY2Vxd3NmdXRocHNyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0NDk5MTcsImV4cCI6MjA5NzAyNTkxN30.VmSIru8pKt4I6vfwWxUruojuBpqln5GN2rOm80ECLvg
